name: "Copilot Setup Steps"

# Automatically run the setup steps when they are changed to allow for easy validation, and
# allow manual testing through the repository's "Actions" tab
on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/copilot-setup-steps.yml
  pull_request:
    paths:
      - .github/workflows/copilot-setup-steps.yml

jobs:
  # The job MUST be called `copilot-setup-steps` or it will not be picked up by Copilot.
  copilot-setup-steps:
    runs-on: ubuntu-latest

    # Set the permissions to the lowest permissions possible needed for your steps.
    # Copilot will be given its own token for its operations.
    permissions:
      # If you want to clone the repository as part of your setup steps, for example to install dependencies, you'll need the `contents: read` permission. If you don't clone the repository in your setup steps, Copilot will do this for you automatically after the steps complete.
      contents: read

    # You can define any steps you want, and they will run before the agent starts.
    # If you do not check out your code, Copilot will do this for you.
    steps:
      - name: Install box2d v3 from source, without examples
        run: |
          git clone https://github.com/erincatto/box2d.git
          cd box2d
          git checkout v3.1.1
          mkdir build && cd build
          cmake -DBOX2D_SAMPLES=OFF -DBOX2D_DOCS=OFF -DBOX2D_VALIDATE=OFF -DBOX2D_UNIT_TESTS=OFF ..
          cmake --build .
          sudo make install

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install required libraries
        run: |
          sudo apt-get update
          sudo apt-get install -y libvulkan-dev libsdl2-dev liblz4-dev liblua5.4-dev libpng-dev libsquish-dev libopenal-dev

      - name: Install Vulkan SDK
        uses: humbletim/install-vulkan-sdk@v1.2
        with:
          quiet: true
          cache: true

      - name: Build the project
        run: |
          mkdir -p build
          cd build
          cmake ..
          make

      - name: Cleanup Box2D folder
        run: |
          git rm --cached -r box2d
          rm -rf box2d
